<h1>Create new Celeb</h1>

<form action="/celebrities" method="POST">
    <label for="name">Enter Artist Name</label>
    <input type="text" name="name" id="name">
    <label for="occupation">Enter Artist Occupation</label>
    <input type="text" name="occupation" id="occupation">
    <label for="catchPhrase">Enter Artist Catchphrase</label>
    <input type="text" name="catchPhrase" id="catchPhrase">
    <Button type="submit">Create New Artist</Button>
</form>